<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Working Hours Start -->
<div th:fragment="workingHours" class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="h-100">
                    <img class="img-fluid h-100" src="img/open.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-secondary h-100 d-flex flex-column justify-content-center p-5">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Working Hours</p>
                    <h1 class="text-uppercase mb-4">Professional Barbers Are Waiting For You</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Monday</h6>
                            <span class="text-uppercase">08 AM - 07 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Tuesday</h6>
                            <span class="text-uppercase">08 AM - 07 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Wednesday</h6>
                            <span class="text-uppercase">08 AM - 07 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Thursday</h6>
                            <span class="text-uppercase">08 AM - 07 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Friday</h6>
                            <span class="text-uppercase">08 AM - 07 PM</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">Sat / Sun</h6>
                            <span class="text-uppercase text-primary">Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Working Hours End -->
</body>
</html>