<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<main layout:fragment="content">
    <div class="container">
        <div class="d-flex justify-content-around">
            <h2 class="text-uppercase text-start mb-3">Select Time</h2>
            <h2 class="text-center mb-3 current-date"></h2>
        </div>
        <div class="row g-4">
            <div class="col-md-7">
                <div class="card h-100">
                    <div class="card-header">
                        <h3 class="text-dark" th:text="${service.name}"></h3>
                    </div>
                    <div class="card-body showcase-wrapper">
                        <div class="row g-3 time_elements">
                            <p class="mb-0">Morning</p>
                            <div class="col-auto" th:each="time : ${availableTimeList}"
                                 th:if="${time.compareTo('12:00') < 0}">
                                <button th:text="${time}" class="btn btn-secondary"></button>
                            </div>
                            <p class="mb-0">Afternoon</p>
                            <div class="col-auto" th:each="time : ${availableTimeList}"
                                 th:if="${time.compareTo('12:00') >= 0 && time.compareTo('18:00') < 0}">
                                <button th:text="${time}" class="btn btn-secondary"></button>
                            </div>
                            <p class="mb-0">Evening</p>
                            <div class="col-auto" th:each="time : ${availableTimeList}"
                                 th:if="${time.compareTo('18:00') >= 0}">
                                <button th:text="${time}" class="btn btn-secondary"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card h-100">
                    <div class="card-body showcase-wrapper">
                        <div id="myCalendarWrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="d-none appointment_form" method="get" th:action="@{/book/customer_info}">
        <input name="serviceId" th:value="${service.id}">
        <input name="barberId" th:value="${barberId}">
        <input name="dateString" id="dateString" value="">
        <input name="timeString" id="timeString" value="">
    </form>
</main>
</html>